body {
    font-family: "Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
    margin-left:	auto;
    margin-right:	auto;
    width: 940px;
}

.header {
    background-color: white;
} 

h1 {
    background-color: rgba(0,0,0,0.3)
}

h2 {
    border-bottom: 2px	solid	#333333;
}

h3 {
    background-color: rgba(67, 67, 252, 0.253);
    color: blue;
    text-align: center;
    font-size: 50px;
    
    
}

#centro-distribuiçao {
    background-color: #F2EDED;
    text-align:	center;
    margin-left:	auto;
    margin-right:	auto;
    width: 550px;
}

#familia-pelho{
    background-color: #F2EDED;
    text-align:	center;
    float:	right;
	margin: 0 0 10px 10px;
}

#rodape {
    margin-right: 30px;
	vertical-align:	middle;
	width: 94px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}
.diferenciais {
    list-style-type: disc;
    padding: 0;
   
}