body {
    color: #333333;
    font-family: "Lucida  Sans	Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    
    
}

header{
    position: relative;
}

.sacola {
    background-image: url(/mirror-fashion/img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right:  35px;
    text-align: right;
    width: 140px;

    padding-top :8px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opçoes{
	position: absolute;
	bottom: 0;
    right: 0;
    list-style: none;
}

.menu-opçoes ul {
    font-size: 15px;
}

.menu-opçoes ul li {
    display: inline;
	margin-left: 20 px;
	padding: 10px;
}

.menu-opçoes a {
    color:#003366;
    
}

.container {
	margin: 0 auto;
	/*width: 940px;*/
}

.busca, .menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
    border-radius: 10px;
}

.busca h2, .busca form, .menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
    
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
    border-radius: 10px;
    
}

.busca, .menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}

img	{
    width:	inherit;
    height:	inherit;
}

.destaque {
    margin-top: 10px;
}

.menu-departamentos	{
    margin-top: 10px;
    padding-bottom: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
    background-color: #F5DCDC;
    
}

.mais-vendidos {
    float: right;
    background-color: #DCDCF5;
}

.painel li	{
    display: inline-block;
    vertical-align:	top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;

}

.painel h2	{
    font-size: 24px;
    font-weight:	bold;
    text-transform:	uppercase;
    margin-bottom: 10px;
}

.painel a	{
    color: #333;
    font-size: 14px;
    text-align:	center;
    text-decoration:	none;
}

footer	{
    background-image: url(/mirror-fashion/img/fundo-rodape.png);
    clear: both;
    padding: 10px 50px;
    width: auto;
    
}

.social a {
    /*	tamanho	da	imagem	*/
    height: 32px;
    width: 32px;

    /*	image	replacement	*/
    display: block;
    text-indent: -9999px;	
    position: relative;
    text-align: center;
    bottom: 5px;
    right: 10px;	
}

.social a[href*="facebook.com"]	{
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.social a[href*="twitter.com"]	{
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.social a[href*="plus.google.com"]	{
    background-image: url(../img/googleplus.png);
    background-repeat: no-repeat;
    background-position: top right;
}

footer, .container	{
    position: relative;    
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social li	{
    float:	left;
    margin-left: 25px;
}

.busca button	{
    /*	adicionando	imagem	*/
    background-image: url(../img/busca.png);
    background-repeat:	no-repeat;
    border:	none;
    background-color: #dcdcdc;

    /*	tamanho	da	imagem	*/
    width: 20px;
    height: 20px;

    /*	imagem	replacement	*/
    text-indent: -9999px;
}

ul, li {
    list-style-type: none;
    padding: 0;
}
figure {
    margin: 0px;
    padding: 0;
    
}

.container2 {
    width: auto;
}